 @import url('https://fonts.googleapis.com/css2?family=PT+Serif&family=Poppins:wght@600&family=Source+Code+Pro:ital@1&display=swap');

 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Poppins', sans-serif;
 }
section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
   background:url(ashish.jpg) no-repeat ;
    background-size: cover;
    background-position: center;
    animation: animateBg 5s linear infinite;
}
@keyframes animateBg{
    100%{
        filter: hue-rotate(360deg);
    }
}
 .login-box{
    position: relative;
    width: 400px;
    height: 450px;
    /* background-color: red; */
    border: 2px solid rgba(255 255 .5);
    backdrop-filter: blur 15px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur (15px);
 }
 h2{
    font-size: 2em;
    color: rgb(202, 216, 13);
    text-align: center;
 }
.input-box{
    width: 310px;
    margin: 30px 0;
    border-bottom: 2px solid white;
    position: relative;
} 
.input-box label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: black;
    pointer-events: none;
    transition:.5sec;
}
.input-box input:focus~label,
.input-box :input:valid~label{
    top: -5px;
}
.input-box input{
    width: 100%;
    height: 50px;
    background-color: transparent;
    border: none;
    font-size: 1em;
    color: #fff;
    padding: 0 8px 0 5px;
    outline:none ;
}
.input-box.icon{
    font-size: 1.2em;
    position: absolute;
    right: 8px;
    color: #fff;
    line-height: 57px;
}
.remember-forgot{
    margin: -15px 0 15px;
    font-size: 0.9em;
    color:black;
    display: flex;
    justify-content: space-between;
}
.remember-forgot label input{
    margin-right: 3px;
}
.remember-forgot a{
    color: black;
    text-decoration: none;
}
.remember-forgot a:hover{
    text-decoration: underline;
}
button{
    width: 100%;
    height: 40px;
    background-color: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 1em;
    color: black;
    font-weight: 500;
}
.register-link{
               font-size: .9em;
               color: #fff;
               text-align: center;
               margin: 25px 0 10px;
}
.register-link p a:hover{
    text-decoration: underline;
}
.register-link p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

